<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1" requestValidationMode="2.0" />
  </system.web>
  <connectionStrings>
    <add name="MsSQLConnection" connectionString="Data Source=localhost;Initial Catalog=spiracle;Persist Security Info=True;User ID=sa;Password=Qwerty123!"/>
    <!--add name="MsSQLConnection" connectionString="Server=localhost\SQLEXPRESS;Database=spiracle;Trusted_Connection=True;"/-->
    <add name="OracleLocalConnection" connectionString="Data Source=OracleLocalDataSource;User ID=test;Password=test"/>
    <add name="MySQLLocalConnection" connectionString="server=localhost;user=test;database=test;port=3306;password=test"/>
    <!-- For some reason the external IP address is required to connect to Sybase -->
    <add name="SybaseLocalConnection" connectionString="Data Source=10.13.242.176;Port=5000;Database=test;Uid=sa;Pwd=sybase;"/>
    <add name="DB2LocalConnection" connectionString="Database=test;UID=test;PWD=test;Server=localhost:50000;"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="OracleLocalDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SID=XE))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>
